@font-face {
  font-family: 'FlameBold';
  src: url('/assets/fonts/Flame-bold-font/fonnts.com-FlameBold.otf');
}
.flamebold{
    font-family: 'FlameBold';
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8f1e7;
}

/* ------------------------------------------- */


/* navbar started */

.fa-bars{
    font-size: 20px;
    color: #502314;
    
}
.fa-cart-shopping{
    font-size: 15px;
}
.fa-user{
    font-size: 16px;
    color: #502314;
}
header{
    height: 55px;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.404);
}
nav{
    width: 1200px;
    margin: 0px 20px;
}
#Main-logo{
    width: 170px;
}
#cart-btn{
    font-size: 0.8rem;
    color: #706d68;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 10px;
}
#cart-btn span{
    font-weight: 700;
}

/* nav bar ended */

/* ---------------------------- */

/* section-1 started  */

.description{
    font-family: FlameBold;
}
.description a{
    width: 300px;
    height: 50px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    font-family: sans-serif;
    font-weight: 1000;
    
    border-radius: 100px;
}
/* section-1 ended  */
/* ---------------------------____________ */

/* section-2 started */


.child-section-2 > img {
    
}
.child-section-2 {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    width: 580.64px;
    height: 500px;
    border: 2px solid black;
    /* background-color: white; */
    
}
.section-2-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 700px;
    width: 100%;
    /* margin: 0 auto; */
    gap: 25px;
    
}
.button-section-2 {
}
/* #section-2 {
    display: flex;
    justify-content: space-between;
} */




/* section-2 ended */

/* _______---------------___________---__----_- */

/* section-3 started  */





/* section-3 ended  */
