@font-face {
  font-family: 'FlameBold';
  src: url('/assets/fonts/Flame-bold-font/fonnts.com-FlameBold.otf');
}
.flamebold{
    font-family: 'FlameBold';
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8f1e7;
}

/* ------------------------------------------- */


/* navbar started */

.fa-bars{
    font-size: 20px;
    color: #502314;
    
}
.fa-cart-shopping{
    font-size: 15px;
}
.fa-user{
    font-size: 16px;
    color: #502314;
}
header{
    height: 55px;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.404);
}
nav{
    width: 1200px;
    margin: 0px 20px;
}
#Main-logo{
    width: 170px;
}
#cart-btn{
    font-size: 0.8rem;
    color: #706d68;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 10px;
}
#cart-btn span{
    font-weight: 700;
}

/* nav bar ended */

/* ---------------------------- */

/* section-1 started  */

.description{
    font-family: FlameBold;
}
.description a{
    width: 300px;
    height: 50px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    font-family: sans-serif;
    font-weight: 1000;
    
    border-radius: 100px;
}
/* section-1 ended  */
/* ---------------------------____________ */

/* section-2 started */


.child-section-2 {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    width: 580.64px;
    height: 500px;
    border: 1px solid #5023146c;
    border-radius: 15px;
    overflow: hidden;
    
    
}
.child-section-2 > h3{
    margin: 10px 20px;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #502314;
}
.child-section-2 > p{
    margin: 0px 20px;
    font-size: 0.9rem;
    color: #502314;
}
.child-section-2 > a{
    margin: 20px;
    font-size: 1rem;
    color: #502314;
    text-decoration: underline;
}
.section-2-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
    width: 100%;
    /* margin: 0 auto; */
    gap: 25px;
    
}
.button-p{
    padding-right: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: end;
}
#btn-cart{
    border: 2px solid #502314;
    width: 125px;
    height: 40px;
    border-radius: 25px;
    font-family: sans-serif;
    font-weight: 700;
    color: #502314;
}






/* section-2 ended */

/* _______---------------___________---__----_- */


#footer-bar {
    display: flex;
    background-color: #f8f1e7;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
}
.footer-items > img {
    width: 22px;
    height: 22px;
}

.footer-items >p {
    color: #502314;
    font-size: 0.8rem;
}

#burger-king {
    height: 24px;
    width: 24px;
}
